name: Sync Fork from Upstream

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync with Upstream
        uses: actions/github-script@v6
        with:
          token: ${{ secrets.PAT }}
          script: |
            github.rest.repos.mergeUpstream({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'main',
            });
