name: Sync Fork from Upstream

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:

jobs:
    sync:
        runs-on: ubuntu-latest
        steps:
            - name: Sync fork
              uses: tgymnich/fork-sync@v1.4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  owner: "ORIGINAL_OWNER"
                  branch: "main"
